ul {
  list-style-type: none;
}

h1 {
  font-size: 2vw;
}

h2 {
  font-size: 1.8vw;
}
h3 {
  font-size: 1.5vw;
}
a {
  font-size: 1vw;
}

@media(max-width: 50em) {

  .container {
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  .container > button {
    display: none;
  }
  .external-resources {
    flex-direction: column;
  }
  .thumbnails {
    flex-shrink: 1;
  }
  h1 {
    font-size: 4vw;
    align-content: center;
  }
  
  h2 {
    font-size: 3.8vw;
  }
  h3 {
    font-size: 3.5vw;
  }
}

.container {
  display: flex;
}

.title {
  flex: 1;
}

.control {
  flex: 1;
}

.carousel {
  flex: 1;
  flex-direction: column;
}

.preview {
  display: flex;
}

.external-resources {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: grey;
  color: black;
}

.is-orange {
  background-color: orange;
  color: white;
}

.is-dark {
  background-color: black;
}
.is-grey-background {
  background-color: rgb(235, 227, 227);
}

.has-10-margin {
  margin: 10px;
}

.center {
  align-items: center;
}

.icon {
  flex: 1;
  align-self: center;
  justify-content: center;
  display: flex;
}

.happy-moment {
  flex: 1;
  display: flex;
}

.user-view {
  width: 40vw;
  height: 25vw;
  background-size: contain;
  background-image: url('../Designs/assets/largePics/9910_04_7349_web.jpg');
}

.prev-icon {
  width: 4vw;
  height: 4vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Designs/assets/prev.png');
}

.next-icon {
  width: 4vw;
  height: 4vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Designs/assets/next.png');
}

.thumbnails {
  /* display: flex; */
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  border: 1px solid grey;
  padding: 5px;
  margin: 5px;
}

.thumbnail {
  border: 1px solid white;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Designs/assets/thumbs/9910_04_7349_web.jpg');
  width: 5vw;
  height: 4vw;
}

.one {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Designs/assets/thumbs/9910_04_7349_web.jpg');
  width: 9vw;
  height: 6vw;
}

.two {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Designs/assets/thumbs/9910_04_7406_web.jpg');
  width: 9vw;
  height: 6vw;
}

.three {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Designs/assets/thumbs/9910_04_7428_web.jpg');
  width: 9vw;
  height: 6vw;
}

.four {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Designs/assets/thumbs/9910_04_7349_web.jpg');
  width: 9vw;
  height: 6vw;
}

.five {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Designs/assets/thumbs/9910_04_7349_web.jpg');
  width: 9vw;
  height: 6vw;
}
