ul {
  list-style-type: none;
}

h1 {
  font-size: 2vw;
}

h2 {
  font-size: 1.8vw;
}
h3 {
  font-size: 1.5vw;
}

.is-center {
  -webkit-align-items: center;
  -ms-flex-item-align: center;
  align-items: center;
}

.control {
  padding: 5px;
  margin-left: 10px;
  width: 90%;
}

.is-dark {
  background-color: black;
}

.icon {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  justify-content: center;
  display: flex;
}

.prev-icon {
  width: 4vw;
  height: 4vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Designs/assets/prev.png');
}

.next-icon {
  width: 4vw;
  height: 4vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../Designs/assets/next.png');
} 

.user-view {
  width: 40vw;
  height: 36vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../Designs/assets/largePics/9910_04_7349_web.jpg');
}

.thumbnails {
  border: 1px solid grey;
  justify-content: center;
}

.thumbnail {
  border:1px solid white;
  background-repeat: no-repeat;
  background-position: center;
  height: 5vw;
  margin: 5px;
}

.highlight {
  border: 2px solid yellow;
}

.large-one {
  background-image: url('../Designs/assets/largePics/9910_04_7349_web.jpg');
}

.large-two {
  background-image: url('../Designs/assets/largePics/9910_04_7406_web.jpg');
}

.large-three {
  background-image: url('../Designs/assets/largePics/9910_04_7428_web.jpg');
}

.large-four {
  background-image: url('../Designs/assets/largePics/9910_04_8365_web.jpg');
}

.large-five {
  background-image: url('../Designs/assets/largePics/9910_04_8560_web.jpg');
}

.large-six {
  background-image: url('../Designs/assets/largePics/9910_08_5205_web.jpg');
}

.large-seven {
  background-image: url('../Designs/assets/largePics/9910_08_5842_web.jpg');
}

.large-eight {
  background-image: url('../Designs/assets/largePics/9910_08_6397_web.jpg');
}

.large-nine {
  background-image: url('../Designs/assets/largePics/9910_08_6526_web.jpg');
}

.large-ten {
  background-image: url('../Designs/assets/largePics/9910_08_6747_web.jpg');
}

.large-eleven {
  background-image: url('../Designs/assets/largePics/9910_08_6760_web.jpg');
}

.large-twelve {
  background-image: url('../Designs/assets/largePics/9910_08_6834_web.jpg');
}


.thumb-one {
  background-image: url('../Designs/assets/thumbs/9910_04_7349_web.jpg');
}

.thumb-two {
  background-image: url('../Designs/assets/thumbs/9910_04_7406_web.jpg');
}

.thumb-three {
  background-image: url('../Designs/assets/thumbs/9910_04_7428_web.jpg');
}

.thumb-four {
  background-image: url('../Designs/assets/thumbs/9910_04_8365_web.jpg');
}

.thumb-five {
  background-image: url('../Designs/assets/thumbs/9910_04_8560_web.jpg');
}

.thumb-six {
  background-image: url('../Designs/assets/thumbs/9910_08_5205_web.jpg');
}

.thumb-seven {
  background-image: url('../Designs/assets/thumbs/9910_08_5842_web.jpg');
}

.thumb-eight {
  background-image: url('../Designs/assets/thumbs/9910_08_6397_web.jpg');
}

.thumb-nine {
  background-image: url('../Designs/assets/thumbs/9910_08_6526_web.jpg');
}

.thumb-ten {
  background-image: url('../Designs/assets/thumbs/9910_08_6747_web.jpg');
}

.thumb-eleven {
  background-image: url('../Designs/assets/thumbs/9910_08_6760_web.jpg');
}

.thumb-twelve {
  background-image: url('../Designs/assets/thumbs/9910_08_6834_web.jpg');
}

.btn {
  border-radius: 10px;
  background-color: grey;
  color: black;
}

.is-orange {
  background-color: orange;
  color: white;
}

.external-resource {
  margin-left: 10px;
}

body{
  background-color: whitesmoke;
}
.sub-header {
  background-color: white;
}

@media only screen
  and (max-device-width: 480px) {
    h1 {
      font-size: 4vw;
    }
    h2 {
      font-size: 3.8vw;
    }
    h3 {
      font-size: 3.5vw;
    }

  .content{
    display: flex;
    -webkit-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .thumbnails {
    -webkit-box-direction : row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .user-view {
    height: 53vw;
  }
  .external-resource, .control {
    margin: 0;
  }
}